In [158]:
import pandas as pd

In [179]:
df1 = pd.read_csv("df_B1.csv")
df2 = pd.read_csv("df_L2OE.csv")
df3 = pd.read_csv("df_L2SR.csv")
df4 = pd.read_csv("df_L2SR2_4.csv")
df5 = pd.read_csv("df_L3GSR3_5.csv")
df6 = pd.read_csv("df_L3OE.csv")
df7 = pd.read_csv("df_L3SR.csv")
df8 = pd.read_csv("df_L4C.csv")
df9 = pd.read_csv("df_L4L.csv")
df10 = pd.read_csv("df_L5C.csv")
df11 = pd.read_csv("df_L5O.csv")

In [180]:
df1 = pd.read_csv("df_B1.csv")
df1

     date      time  count  bin Location (recode) Location-id (recode)
0      27   0:09:51      1    1  SIS B1 IS Lounge                SISB1
1      27   0:12:13      2    2  SIS B1 IS Lounge                SISB1
2      27   0:14:34      3    2  SIS B1 IS Lounge                SISB1
3      27   0:16:56      1    2  SIS B1 IS Lounge                SISB1
4      27   0:19:17      1    2  SIS B1 IS Lounge                SISB1
..    ...       ...    ...  ...               ...                  ...
569    27  23:49:56      2  143  SIS B1 IS Lounge                SISB1
570    27  23:52:02      1  144  SIS B1 IS Lounge                SISB1
571    27  23:54:08      1  144  SIS B1 IS Lounge                SISB1
572    27  23:56:13      1  144  SIS B1 IS Lounge                SISB1
573    27  23:58:19      1  144  SIS B1 IS Lounge                SISB1

[574 rows x 6 columns]

In [181]:
df_list = [df2, df3, df4, df5, df6, df7, df8, df9, df10, df11]
print(df1.shape)

(574, 6)

In [182]:
for i in df_list:
    print(df1.shape)
    print(i.shape)
    df1 = df1.append(i)

(574, 6)
(252, 6)
(826, 6)
(858, 6)
(1684, 6)
(751, 6)
(2435, 6)
(618, 6)
(3053, 6)
(644, 6)
(3697, 6)
(856, 6)
(4553, 6)
(385, 6)
(4938, 6)
(406, 6)
(5344, 6)
(479, 6)
(5823, 6)
(671, 6)

In [183]:
df1

,date,time,count,bin,Location (recode),Location-id (recode)
0,27,0:09:51,1,1,SIS B1 IS Lounge,SISB1
1,27,0:12:13,2,2,SIS B1 IS Lounge,SISB1
2,27,0:14:34,3,2,SIS B1 IS Lounge,SISB1
3,27,0:16:56,1,2,SIS B1 IS Lounge,SISB1
4,27,0:19:17,1,2,SIS B1 IS Lounge,SISB1
...,...,...,...,...,...,...
666,27,23:49:56,3,143,SIS L5 End of Office Stretch,SISL5
667,27,23:52:02,3,144,SIS L5 End of Office Stretch,SISL5
668,27,23:54:08,3,144,SIS L5 End of Office Stretch,SISL5
669,27,23:56:14,3,144,SIS L5 End of Office Stretch,SISL5
670,27,23:58:19,2,144,SIS L5 End of Office Stretch,SISL5

In [184]:
df1.to_csv("forecastmerged.csv")

In [95]:
import datetime
datetime_object = datetime.datetime.strptime('16:30:00', '%H:%M:%S')
datetime_object

datetime.datetime(1900, 1, 1, 16, 30)

In [96]:
datetime_object = datetime_object - datetime.timedelta(minutes = 10)

In [97]:
datetime_object

datetime.datetime(1900, 1, 1, 16, 20)

In [136]:
timestamplb = datetime_object.strftime("%H:%M")
timestamplb

'16:20'

In [124]:
day_list = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]

In [132]:
s = "Sat"

In [134]:
a = [a for a in day_list if s in a]

In [135]:
a

[]